# R non-code files
.Rproj.user/
.Rhistory
.RData

# drake
.drake/

# data (non-public)
data/*
!data/.keep

# log
log/*
!log/.keep

# result
result/*
!result/.keep
result/figure/*
!result/figure/
!result/figure/.keep
result/table/*
!result/table/
!result/table/.keep
